// Colors
$dc-blue: #01233f;
$dc-orange: #f36f22;
$dc-dark: #011a38;
$tailwind-bg: #0d1528;

$t-1: #a6779e;
$t-2: #b4a6d1;
$t-3: #1d283a;
$t-4: #518ea6;
$t-5: #aedff2;

// Breakpoints
$bp-small: 37.5em; // 600px
$bp-medium: 56.25em; // 900px
$bp-large: 75em; // 1200px
$bp-xlarge: 112.5em; // 1800px
$bp-xxlarge: 160em; // 2560px

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Breakpoint Map

$breakpoints: (
  small: 37.5em,
  // 600px
  medium: 56.25em,
  // 900px
  large: 75em,
  // 1200px
  xlarge: 112.5em,
  // 1800px
  xxlarge: 160em,
  // 2560px
);

// Color Map

$testColors: (
  "t1": #a6779e,
  "t2": #b4a6d1,
  "t3": #6a4ea6,
  "t4": #518ea6,
  "t5": #aedff2,
);
